# Project exclude paths
/.gradle/
/Parking Lot/task/build/
/Parking Lot/task/out/
/Parking Lot/task/out/production/classes/
/Topics/Inheritance/Cart/out/
/Topics/Inheritance/Cart/out/production/classes/